/* Estilos para modo oscuro */
body.dark-mode {
    background-color: #373737; /* Color de fondo oscuro */
    color: #fff; /* Color de texto claro */
    font-family: 'Source Code Pro', monospace; /* Cambia la fuente a Código fuente Pro */
}

/* Estilos para la terminal */
.terminal {
    background-color: #000; /* Fondo negro */
    border: 1px solid #555; /* Borde gris */
    padding: 10px; /* Espaciado interior para evitar que el texto toque los bordes */
    font-family: 'Source Code Pro', monospace; /* Cambia la fuente a Código fuente Pro */
    white-space: pre-wrap; /* Mantiene los espacios y saltos de línea */
    box-sizing: border-box; /* Incluye el padding en el ancho y alto total */
    overflow-y: auto; /* Añade una barra de desplazamiento solo cuando sea necesario */
    line-height: 1.2; /* Reduce la altura de las líneas */
}

/* Estilos específicos para la ventana emergente */
.terminal-popup {
    position: fixed;
    top: 50%; /* Ajustado para centrar verticalmente */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
    width: 600px; /* Reducido para mejor ajuste */
    height: 300px; /* Reducido para mejor ajuste */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Añade una barra de desplazamiento solo cuando sea necesario */
}

/* Estilos para el prompt */
.prompt {
    color: #9b4abd; /* Color para el prompt */
    font-size: 0.9em; /* Tamaño de fuente reducido para ajustar */
}

/* Estilos para las líneas de salida */
.output-line {
    color: #fff; /* Color de texto claro para las líneas de salida */
    margin-bottom: 2px; /* Espaciado reducido entre líneas */
    font-size: 0.9em; /* Tamaño de fuente reducido para ajustar */
}

/* Estilos para el nombre del archivo */
.filename {
    color: rgb(254, 254, 253); /* Color para el nombre del archivo */
}

/* Estilos para la animación de la línea parpadeante */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-cursor {
    animation: blink 0.8s infinite;
    display: inline-block; /* Cambia a inline-block para ajustar la altura */
    font-size: 1em; /* Tamaño del cursor, igual al tamaño del texto */
    border-left: 2px solid; /* Línea vertical para el cursor */
    height: 1.2em; /* Altura del cursor, ligeramente mayor para un mejor ajuste */
    margin-left: 2px; /* Espaciado opcional */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}